<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <header>
      <img src="static/images/new-unt-alum-logo.png" alt="new unt alum logo" class="logo">
    </header>

    <div class="right-side">
      <div class="admin-section">
        <h2>Hello, Admin!</h2>
        <button onclick="window.location.href='/login/unt-email'">Sign in with UNT ID</button>
        <p class="admin-message">This section is for admins only, not for students.</p>
      </div>
    </div>
    <footer></footer>
  </div>
</body>
</html>
